<div class="infoBox">
    @if (weekInfo) {
        <h3>Vegetables for Week {{ weekInfo.weekNumber }}</h3>
        @if (isLoading) {
            <p>Loading...</p>
        } @else {
            @if (data.length > 0) {
                @for (veg of data; track veg) {
                    <h3>{{ veg.Name }}</h3>
                    <p>Care Tips: {{ veg.CareTips }}</p>
                }
            } @else {
                <p>No vegetables found for this week.</p>
            }
        }
    } @else {
        <div class="selectWeekMessage">Select a week to see vegetables</div>
    }
</div>
