.infoBox {
    background-color: #494f5a;
    height: 70vh;
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
  }
  
  .infoBox h3 {
    margin-top: 0;
    color: #6d6d6d;
  }
  
  .infoBox ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .infoBox li {
    margin-bottom: 5px;
  }
  
  .selectWeekMessage {
    text-align: center;
    padding: 20px;
    color: #666;
    font-size: 18px;
  }
  