<div class="timelineContainer">
    @if (!isLoading) {
        
      @for (year of timelineData; track year) {
        <div class="yearContainer">
        @for (month of year.months; track month) {
            <div class="monthContainer">
            @for (week of month.weeks; track week) {
                <div class="timelineItem" [class.selected-week]="selectedWeek?.weekNumber === week.weekNumber" (click)="handleWeekClick(week)">
                    <div class="week">
                        Week {{ week.weekNumber }}
                    </div>
                    
                <div class="date">
                    {{ week.start | date: 'MMM dd' }}
                </div>
                
                    @if (week.isCurrentWeek) {
                        <span class="special-week">Current Week</span>
                    }
                    @if (week.isEndOfYear) {
                        <span class="special-week">End of Year</span>
                    }
                    @else{
                        <span class="empty"></span>
                    }
                    <div class="timelineMarker"></div>
                    <div class="timelineLine"></div>
                </div>
                
            }
        </div>
        }
       
            
      
    </div>
    
    }
    

} @else {
    <div class="loading">Loading...</div>
}

</div>

<app-vegetable-info-box [weekInfo]="selectedWeek"></app-vegetable-info-box>