.timelineContainer {
    overflow-x: auto;
    white-space: nowrap;
 
    padding-bottom: 0px;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .yearContainer {
    margin-right: 50px; /* Adjust as needed */
    
    
  }
  
  .monthContainer {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 10px; /* Adjust as needed */
    height: 90px;
  }
  .special-week{
    font-size: 10px;
  }
  .empty{
    height: 15px;
  }
  .week {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 10px;
  }
  
  .weeksContainer {
    display: flex;
  }
  
  .timelineItem {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-left:5px;
    padding-right:5px;
    margin-top: 10px;
    border-bottom: 1px;
    height:100%
  }
  
  .timelineDate {
    margin-bottom: 5px;
  }
  
  .timelineMarker {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #333;
    margin-bottom: 5px;
  }
  
  .date {
    font-size: 12px;
    text-align: center;
  }
  .empty{
    min-height: 5px;
  }
  .currentWeek .timelineMarker, .currentWeek .timelineLine {
    background: #4CAF50; /* Highlight color */
  }
  
  .timelineLine {
    width: 2px;
    height: 25px; /* Adjust the height as per your design */
    background-color: #333;
    position: relative;
  }
  
  /* Hide scrollbar aesthetically */
  .timelineContainer::-webkit-scrollbar {
    display: none;
  }
  
  .timelineContainer {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: var(--color-timeline);

    box-shadow: inset 0 0 10px #0000004d;

  }
  
  /* Optional: add some shadow or other effects to current week */
  .currentWeek {
    position: relative;
    /* Shadow effect */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  /* If the week is clickable, you can add hover effects */
  .timelineItem:hover {
    background-color: #00000010; /* Light hover effect */
    cursor: pointer;
  }
  .selected-week {
    background: var(--color-background-gradient);
    //box-shadow: inset 0 -5px 6px -6px #1a1a1a
    box-shadow: inset 0 7px 9px -7px #0000004d;
    //box-shadow: -7px 0 9px -7px rgba(0,0,0,0.4);
  
    color: var(--text-color);
  }
  
  .loading{
    text-align: center;
  }
  .timelineMarker {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #333;
    margin-bottom: 5px;
  }
  .monthLineLeft, .monthLineRight {
    /* Style for the lines - adjust as per your design */
    height: 100%;
    width: 2px;
    background-color: black;
    position: absolute;
  }
  
  .monthLineLeft {
    left: 0;
  }
  
  .monthLineRight {
    right: 0;
  }
  .timelineLine {
    height: 25px;
   
    position: relative;
  }
  .selected-week .timelineLine{
    background: var(--text-color);
  }
  .selected-week .timelineMarker{
    background: var(--text-color);
  } 